nav{
	display:block;
}

.menu {
	display: block;
	position:relative;
	z-index:22;
}
ul.menu {
text-align:center;
	z-index:33;
	font-size:15px;
	text-transform:uppercase;
}
.menu li {
    position: relative;
	background-image:url(../images/menu_bg.png);
	background-repeat:no-repeat;
	border-bottom:1px solid #000000;
	background-color:#111111;
	background-position:right;	
}

.menu li:first-child { margin-left: 0; }

.menu li a {
    text-decoration: none;
    display: block;
    transition: all 0.2s ease-in-out 0s;
    font-size:15px;
	letter-spacing:1px;
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    font-family: 'Oswald', Arial;
}
.menu li a:hover{
	background-image:url(../images/menu_bg_hover.png);
	background-repeat:no-repeat;
	background-color:#009944;
	color:#fff!important;
	background-position:right;	
}
.menu ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 215px;
    position: absolute;
    left: 100%;
    background: #fff;
    z-index: 99;
    transform: translate(0, 20px);
    transition: all 0.2s ease-out;
    top: 0;
}

.menu ul li {
  display: block;
  float: none;
  background: none;
  margin: 0;
  padding: 0;
  border:none;
}

.menu ul li a {
font-size: 12px;
    font-weight: normal;
    display: block;
    color: #333!important;
    background: #fff;
    padding: 0px 30px !important;
    border-bottom: 1px solid #f3f3f3;
    line-height: 40px;
}
.menu ul li a:hover,
.menu ul li:hover>a {
  	background: #009944;
    color: #fff!important;
    background-image: url(../images/menu_bg_hover.png);
    background-position: right;
    background-repeat: no-repeat;
}

.menu li:hover>ul {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.menu ul ul {
  left: 169px;
  top: 0px;
  visibility: hidden;
  opacity: 0;
  transform: translate(20px, 20px);
  transition: all 0.2s ease-out;
}

.menu ul ul:after {
  left: -6px;
  top: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 6px;
  margin-top: -6px;
}

.menu li>ul ul:hover {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.responsive-menu {
  display: none;
}

.responsive-menu:hover {
  color: #fff;
  text-decoration: none;
}

a.active{ 
	background: #009944;
    color: #fff!important;
    position: relative;
    background-image: url(../images/menu_bg_hover.png);
    background-position: right;
    background-repeat: no-repeat;
}

ul.menu ul li a.active:before {
    border-top:none;
}
ul.menu ul li a:hover,
ul.menu ul li a.active{
	background: #009944;
    color: #fff!important;
    background-image: url(../images/menu_bg_hover.png);
    background-position: right;
    background-repeat: no-repeat;
}
.menu li:hover > a, .menu li a:hover .active {
color:#009944;
}


 @media (min-width: 768px) and (max-width: 979px) {

.mainWrap { width: 768px; }

.menu ul { top: 37px; }

.menu li a { font-size: 12px; }

a.homer { background: #E95546; }

}
