@charset "utf-8";
/* CSS Document */

/* ----------- Non-Retina Screens ----------- */
@media (min-width : 1200px) and (max-width : 1600px) {
  
div#slide-3012-layer-4 {
    font-size: 50px;
}
span.slider-button {
    line-height: 30px !important;
    font-size: 17px !important;
}
}

